.hero{

    background-image: url("/src/images/reactbackground.jpg");
    min-height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid rgba(126, 59, 233, 0.801);
}

.aboutCss{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p{
    color: antiquewhite;
}
h1, h2, h5{
    color: antiquewhite;
}

